.App {
  text-align: center;
  margin: 0;
  padding: 0;
}
.login-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.login-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.login-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #f86d64;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #e0514d;
}

.login-links {
  margin-top: 20px;
  text-align: center;
}

.login-links a {
  margin-right: 5px;
  color: #777;
  text-decoration: none;
}

.login-links a:hover {
  text-decoration: underline;
}

.register-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.register-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.register-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #f86d64;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #e0514d;
}

.register-links {
  margin-top: 20px;
  text-align: center;
}

.register-links span {
  margin-right: 5px;
  color: #777;
}

.register-links a {
  color: #f86d64;
  text-decoration: none;
}

.register-links a:hover {
  text-decoration: underline;
}
.mh1{
  text-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
